<div class="row">
    <div class="col-md-12">
        {{#unless data.id}}
            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>{{data.message}}</strong>
                </div>
            </div>
        {{/unless}}
        <h2>Posts</h2>
        <hr />
        <p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Published</th>
                        </tr>
                    </thead>
                    {{#each data}}
                        <tbody>
                            <tr>
                                <td>{{id}}</td>
                                <td>{{title}}</td>
                                <td>{{postDate}}</td>
                                <td>
                                    <a href="/posts?category={{category}}">{{category}}</a>
                                    </td>
                                <td>{{published}}</td>
                            </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
        </p>
    </div>
</div>
